@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add smooth scrolling and base transitions */
html {
  scroll-behavior: smooth;
}

body {
  @apply text-gray-900 antialiased;
}

/* Custom transition for landing page buttons */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}